/* =========================================================
body
========================================================= */

@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  /* line-height: 1.3rem; */
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  background-color: #000;
  color: #000;
  /* font-family: system-ui, sans-serif;
  font-size: 1rem; */
  -webkit-overflow-scrolling: touch;
}
img {
  width: 100%;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}

/* =========================================================
header
========================================================= */

.brand {
  font-weight: bold;
  font-size: 20px;
  padding-left: 5px;
}

.site-header {
  width: 100%;
  position: fixed;
  background-color: #000000;
  display: block;
  z-index: 1;
}
@media screen and (min-width: 940px) {
  .site-header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000000;
  }
}

.logo {
  width: 100px;
  padding-left: 10px;
}
@media screen and (min-width: 940px) {
  .logo {
    width: 200px;
    padding-left: 20px;
  }
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  margin-left: 1rem;
  margin-right: 1rem;
}

span {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 940px) {
  .nav__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 939px) {
  .nav__wrapper {
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 940px) {
  .nav__item {
    min-width: 140px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

.nav__item a {
  display: block;
  padding: 1rem 1.25rem;
  border-left: 4px solid transparent;
}
@media screen and (min-width: 940px) {
  .nav__item a {
    text-align: center;
    border-bottom: 4px solid transparent;
  }
}

.nav__item.active a {
  border-left-color: #222;
}
@media screen and (min-width: 940px) {
  .nav__item.active a {
    border-bottom-color: #222;
  }
}

.nav__toggle {
  background: rgb(240, 103, 255);
  position: absolute;
  right: 2rem;
  top: 1.7rem;
}
@media screen and (min-width: 940px) {
  .nav__toggle {
    display: none;
  }
}

.inactive-item {
  opacity: 0;
}

/* =========================================================
main
========================================================= */

main {
  display: block;
  /*IE*/
}
.main-contents {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .main-contents {
    padding-top: 100px;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }
}

/* =========================================================
detailArea
========================================================= */

.detailArea {
  width: 70%;
  margin: 5% auto 10px;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .detailArea {
    width: 50%;
    margin: -40px auto 20px;
    padding: 70px 0 5px;
    text-align: center;
  }
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}
summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  color: #fff;
  font-size: 15px;
}
details[open] {
  padding: 0.5em;
  color: #fff;
  font-size: 15px;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 769px) {
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    color: #fff;
    font-size: 15px;
  }
  details[open] {
    padding: 0.5em;
    color: #fff;
    font-size: 15px;
  }
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
}

/* =========================================================
infoArea
========================================================= */

.infoArea {
  margin: 5% auto 20px;
  width: 80%;
}
@media screen and (min-width: 769px) {
  .infoArea {
    margin: -40px auto 20px;
    padding: 70px 0 5px;
    width: 80%;
  }
}

.p {
  font-weight: bold;
  font-size: 15px;
}
.box_title {
  display: inline-block;
  background: rgb(240, 103, 255);
  padding: 1px 10px;
  color: #ffffff;
}
.box {
  padding: 10px;
  border: 2px solid rgb(240, 103, 255);
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  height: 30%;
}

@media screen and (min-width: 769px) {
  .p {
    font-weight: bold;
    font-size: 15px;
  }
  .box_title {
    display: inline-block;
    background: rgb(240, 103, 255);
    padding: 1px 10px;
    color: #ffffff;
  }
  .box {
    padding: 10px;
    border: 2px solid rgb(240, 103, 255);
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    height: 30%;
  }
}

/* =========================================================
footer
========================================================= */

footer {
  padding: 8px 0 30px;
  text-align: center;
}
footer .copy {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
}