/* =========================================================
body
========================================================= */

@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  /* line-height: 1.3rem; */
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  background-color: #000;
  color: #000;
  /* font-family: system-ui, sans-serif;
  font-size: 1rem; */
  -webkit-overflow-scrolling: touch;
}
img {
  width: 100%;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}

/* =========================================================
header
========================================================= */

.brand {
  font-weight: bold;
  font-size: 20px;
  padding-left: 5px;
}

.site-header {
  width: 100%;
  position: fixed;
  background-color: #000000;
  display: block;
  z-index: 1;
}
@media screen and (min-width: 940px) {
  .site-header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000000;
  }
}

.logo {
  width: 100px;
  padding-left: 10px;
}
@media screen and (min-width: 940px) {
  .logo {
    width: 200px;
    padding-left: 20px;
  }
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  margin-left: 1rem;
  margin-right: 1rem;
}

span {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 940px) {
  .nav__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 939px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 940px) {
  .nav__item {
    min-width: 140px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

.nav__item a {
  display: block;
  padding: 1rem 1.25rem;
  border-left: 4px solid transparent;
}
@media screen and (min-width: 940px) {
  .nav__item a {
    text-align: center;
    border-bottom: 4px solid transparent;
  }
}

.nav__item.active a {
  border-left-color: #222;
}
@media screen and (min-width: 940px) {
  .nav__item.active a {
    border-bottom-color: #222;
  }
}

.nav__toggle {
  background: rgb(240, 103, 255);
  position: absolute;
  right: 2rem;
  top: 1.7rem;
}
@media screen and (min-width: 940px) {
  .nav__toggle {
    display: none;
  }
}

.inactive-item {
  opacity: 0;
}

/* =========================================================
main
========================================================= */

main {
  display: block;
  /*IE*/
}
.main-contents {
  padding-top: 35px;
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  .main-contents {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
}

/* =========================================================
infoArea
========================================================= */

.infoArea {
  margin: 10% auto 0;
  width: 100%;
  /* padding: 0 0 20vw; */
  position: relative;
}
.infoArea:before {
  background: url("../images/anime01.gif") no-repeat 0 0;
  background-size: 100%;
  content: "";
  height: 52vw;
  display: block;
  position: absolute;
  bottom: 7vw;
  left: -2vw;
  width: 50.6vw;
}
.infoArea:after {
  background: url("../images/anime02.gif") no-repeat 0 0;
  background-size: 100%;
  content: "";
  height: 60vw;
  display: block;
  position: absolute;
  bottom: 0;
  right: -12vw;
  width: 64vw;
}
.infoArea .subTitle {
  margin: 0 auto 15px;
  width: 33.6vw;
}
.infoArea h2 {
  margin: 0 auto 24px;
  width: 66.13vw;
}
.infoArea p {
  color: #fff;
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
}
.infoArea p .pc {
  display: none;
}

@media screen and (min-width: 769px) {
  .infoArea {
    margin: -60px auto -30px;
    padding: 55px 0 5px;
  }
  .infoArea:before {
    height: 397px;
    top: -13px;
    left: -245px;
    bottom: auto;
    width: 386px;
  }
  .infoArea:after {
    height: 414px;
    top: -16px;
    right: -322px;
    bottom: auto;
    width: 474px;
  }
  .infoArea .subTitle {
    margin: 0 auto 25px;
    width: 180px;
  }
  .infoArea h2 {
    margin: 0 auto 40px;
    width: 390px;
  }
  .infoArea p {
    line-height: 2.2;
    font-size: 15px;
  }
  .infoArea p .sp {
    display: none;
  }
  .infoArea p .pc {
    display: inline-block;
  }
}

/* =========================================================
mapArea
========================================================= */

.mapArea {
  max-width: 800px;
  margin: 5vw auto 0vw;
}
.mapArea h2 {
  margin: 0 auto 10vw;
}
.mapArea h2 img {
  height: 7.4vw;
}
.mapArea .map {
  margin: 0 auto;
  width: 92%;
}

@media screen and (min-width: 769px) {
  .mapArea {
    margin: 75px auto 5px;
  }
  .mapArea h2 {
    margin: 0 auto 30px;
  }
  .mapArea h2 img {
    height: 27px;
  }
  .mapArea .map {
    width: 666px;
  }
}

/* =========================================================
information bottom
========================================================= */

.content-bottom {
  font-weight: bold;
  text-align: center;
  margin:auto;
  justify-content: space-evenly;
  padding-top: 25px;
  position: relative;
}

@media screen and (min-width: 769px) {
  .content-bottom {
    text-align: center;
    margin:auto;
    justify-content: space-evenly;
    padding-top: 20px;
    position: relative;
  }
}

.btn-play-info {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  padding: 0.5em 3em;
  text-decoration: none;
  background-color: #3e8a4c;
  box-shadow: 0px 0px 0px 2px #0a0a0a;
  color: #fff;
  border: solid 2px #316d42;
  border-top: solid 2px #64cb55;
}
.btn-play-info:hover {
  background-color: #429255;
}
.btn-play-info:active {
  box-shadow: 0px 0px 0px 2px #fff;
}

@media screen and (min-width: 769px) {
  .btn-play-info {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    padding: 0.5em 10em;
    text-decoration: none;
    background-color: #3e8a4c;
    box-shadow: 0px 0px 0px 2px #0a0a0a;
    color: #fff;
    border: solid 2px #316d42;
    border-top: solid 2px #64cb55;
  }
}

article {
  padding: 7% 0;
}

@media screen and (min-width: 769px) {
  article {
    padding: 7% 0;
  }
}

/* =========================================================
neon
========================================================= */

x-sign {
  --interval: 1s;
  display: block;
  text-shadow:
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

x-sign {
  font-weight: bold;
  font-size: 25px;
  margin: 20px auto;
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
  font-family: Monoton;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

@media screen and (min-width: 769px) {
  x-sign {
    --interval: 1s;
    display: block;
    text-shadow:
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }
  x-sign {
    font-weight: bold;
    font-size: 30px;
    margin: 20px auto 30px;
    color: yellow;
    --color1: yellow;
    --color2: lime;
    --color3: green;
    --color4: darkgreen;
    font-family: Monoton;
  }

  @keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }
}

/* =========================================================
storeList
========================================================= */

.storeList {
  display: flex;
  flex-wrap: wrap;
}
.storeList li {
  margin-right: 4.348%;
  margin-bottom: 7vw;
  width: 47.826%;
}
.storeList li:nth-child(2n) {
  margin-right: 0;
}
.storeList li a {
  display: block;
  text-decoration: none;
}
.storeList li a:hover {
  opacity: 0.8;
}
.storeList li dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 7px 0;
}
.storeList li dl dt {
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 3px;
  text-align: center;
  width: 100%;
}
.storeList li dl dd {
  background-color: #0000ff;
  color: #fff;
  font-size: 11px;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
}
.ddd {
  background-color: #ff0000;
  color: #fff;
  font-size: 11px;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
}

@media screen and (min-width: 769px) {
  .storeList li {
    margin-bottom: 25px;
  }
  .storeList li dl {
    padding: 5px 7px 0;
  }
  .storeList li dl dt {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .storeList li dl dd {
    padding: 6px 12px 5px;
  }
}

/* =========================================================
storeArea
========================================================= */

.storeArea {
  max-width: 92%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .storeArea {
    max-width: 1080px;
    margin: 0 auto;
  }
  .storeArea .storeList li {
    margin-right: 0.925%;
    width: 19.26%;
  }
  .storeArea .storeList li:nth-child(5n) {
    margin-right: 0;
  }
}

/* =========================================================
footer
========================================================= */

footer {
  padding: 8px 0 30px;
  text-align: center;
}
footer .copy {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
}